@use './base' as base;
@use './components' as comp;
@use './layout' as lay;

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}